<div class="center jumbotron">
  <h1>Sup Scrubs</h1>
  <p>
    David, this is the time: <%= Time.now %>
  </p>
  <p> </p>
  <p>Now go be awesome</p>
  <p> </p>
  <%= link_to 'Visit my blog or you suck', articles_path %>
</div>
